[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/plugins/start/vim-rooter"]
	path = pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/plugins/start/Apprentice"]
	path = pack/plugins/start/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "pack/plugins/start/FastFold"]
	path = pack/plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "pack/plugins/start/tcomment_vim"]
	path = pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "pack/plugins/start/traces.vim"]
	path = pack/plugins/start/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/plugins/start/vim-cool"]
	path = pack/plugins/start/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/vim-qf"]
	path = pack/plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
